.graphic-navbar {
    width: 80%;
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 2rem;
}

.graphic-navbar a {
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}


.graphic-navbar a::before {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0%;
    background-color: white;
    transition: width .2s ease-in-out;
}

.graphic-navbar a:hover::before {
    width: 100%;
}