.profile-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    width: 80%;
    margin: 0 auto;
    border-radius: 2rem;
    background-color: var(--copacetic-orange);
    padding: 2rem;
    text-align: left;
    gap: 2rem;
    margin-bottom: 5%;
}
.profile-img {
    grid-column: span 1;
}
.profile-img img {
    width: 100%;
    border-radius: 2rem;
}
.profile-text h2 {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 4rem;
}
.profile-text p {
    font-size: 1.2rem;
}

.team-wrapper {
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 2rem;
}

.team-item {
    background-color: var(--copacetic-yellow);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 2rem;
}


.team-item h3 {
    font-size: 2rem;
}

.team-item-content {
    padding: 1rem;
}
.team-item-content h3 {
    margin: 0;
}

.team-item-content a {
    background-color: var(--copacetic-green);
    padding: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    color: white;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.team-item-content a:hover {
    color: var(--copacetic-orange);
    background-color: #242424;
}
.team-item-content p {
    padding-bottom: 1rem;
}
.team-item img {
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact-button {
    display: block;
    margin: 3rem auto 0 auto; /* top: 1rem, auto left/right to center, 0 bottom */
    padding: 0.75rem 1.5rem;
    background-color: var(--copacetic-green);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-button:hover {
    background-color: #242424;
    color: var(--copacetic-green);
}