.social-wrapper {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    margin: 0 auto;
    grid-auto-rows: 8vw;
    grid-gap: 2rem;
    grid-auto-flow: dense;
}

.social-card {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.media-container {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Shared styles for both images and videos */
.social-card .media-container img,
.social-card .media-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, filter 0.3s ease-in-out;
}

/* Hover zoom effect */
.social-card:hover .media-container img,
.social-card:hover .media-container video {
    transform: scale(1.5);
    filter: brightness(30%);
}

.social-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.social-text h3 {
    color: white;
    font-size: 1.5rem;
    opacity: 0;
    transition: 0.3s ease-in-out;
    text-shadow: 2px 2px 4px #000000;
}

.social-card:hover .social-text h3 {
    opacity: 1;
    animation: move-down 0.3s linear;
}

/* Grid spans */
.w-1 {
    grid-column: span 1;
}
.w-2 {
    grid-column: span 2;
}
.w-3 {
    grid-column: span 3;
}
.h-1 {
    grid-row: span 1;
}
.h-2 {
    grid-row: span 2;
}
.h-3 {
    grid-row: span 3;
}
.h-4 {
    grid-row: span 4;
}
