.web-page {
    position: fixed; /* or absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* or auto if it scrolls */
    background: rgb(27, 27, 27, .9);
    z-index: 10; /* higher than the image */
    overflow-y: auto;
}
.web-page h2 {
    font-size: 3rem;
    margin-top: 0;
    padding-top: 2rem;
    color: white;
}

.web-wrapper {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 auto;
}

.web-item {
    width: 100%;
    text-align: left;
    background-color: rgb(84, 84, 84);
    border-radius: 2rem;
}
.web-item:hover {
    scale: 1.1;
    transition: all .2s ease-in-out;
}
.web-item:hover h3 {
    color: var(--copacetic-orange);
}
.web-item img {
    width: 100%;
    position: initial;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    overflow: hidden;
}
.web-item h3 {
    font-size: 1rem;
    margin-top: 0;
    padding: 2rem;
    color: white;
}