.contact-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: 0 auto;
}
.contact-container h1 {
    color: var(--copacetic-orange);
}
.contact-left {
    text-align: left;
}

.contact-left {
    grid-column: 1 /span 2;
}
.contact-form {
    grid-column: 3 /span 3;
    text-align: left;
}
.contact-form label {
    display: flex;
    flex-direction: column;
    color: var(--copacetic-orange);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-family: 'acumin-pro';
}
.contact-form input {
    margin-top: 1.5rem;
    border-radius: .5rem;
    height: 2rem;
}
.contact-form textarea {
    margin-top: 1.5rem;
    border-radius: .5rem;
    height: 5rem;
}

.contact-form button {
    background-color: var(--copacetic-orange);
    color: #242424;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: var(--copacetic-yellow);
}